{% extends 'Templates/skeleton.twig' %}
{% block content %}

{% if errors is defined %}
{% for error in errors %}
<div class="row">
	<div class="large-12 columns">
		<div data-alert="" class="alert-box alert">
			{{ error.err }}
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

{% if success is defined %}
<div class="row">
	<div class="large-12 columns">
		<div data-alert="" class="alert-box success">
			{{ 'firstAdmin.success'|trans }}
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="small-12 columns">

		{{ form_start(registerFirstadmin) }}
		  <fieldset>
		    <legend>First Admin</legend>

		    <div class="row">
		      <div class="small-6 columns {% if not registerFirstadmin.username.vars.valid %}error{% endif %}">
		        <label>{{ form_label(registerFirstadmin.username) }}</label>
				{{ form_widget(registerFirstadmin.username) }}
		        {% if not registerFirstadmin.username.vars.valid %}
		        	<small>{{ form_errors(registerFirstadmin.username) }}</small>
		        {% endif %}
		      </div>
		      <div class="small-6 columns {% if not registerFirstadmin.email.vars.valid %}error{% endif %}">
		        <label>{{ form_label(registerFirstadmin.email) }}</label>
			    {{ form_widget(registerFirstadmin.email) }}
		        {% if not registerFirstadmin.email.vars.valid %}
		        	<small>Invalid entry</small>
		        {% endif %}
		      </div>
		    </div>

		    <div class="row">
		      <div class="small-6 columns {% if not registerFirstadmin.password.vars.valid %}error{% endif %}">
		        <label>{{ form_label(registerFirstadmin.password) }}</label>
				{{ form_widget(registerFirstadmin.password) }}
		        {% if not registerFirstadmin.password.vars.valid %}
		        	<small>Invalid entry</small>
		        {% endif %}
		      </div>
		    </div>

		    <div class="row">
		    	<div class="small-12 columns">
		    		<input type="submit" class="small expand button success" name="submit" />
		    	</div>
		    </div>

		  </fieldset>
		{{ form_end(registerFirstadmin) }}
	</div>
</div>
{% endblock %}